<span *ngIf="isHidden()">
  <input type="password" [(ngModel)]="pwd">
  <fa-icon [icon]="faEyeSlash" (mousedown)="setState('visible')" (mouseup)="setState('hidden')"></fa-icon>
</span>
<span *ngIf="isVisible()">
  <input type="text" [(ngModel)]="pwd">
  <fa-icon [icon]="faEye" (mousedown)="setState('visible')" (mouseup)="setState('hidden')"></fa-icon>
</span>
<!--
<hr>

<input type="{{isVisible() ? 'text' : 'password'}}" [(ngModel)]="pwd">
<fa-icon [icon]="isVisible() ? faEye : faEyeSlash" (mousedown)="setState('visible')" (mouseup)="setState('hidden')"></fa-icon>


-->
